<div class="slider{{slider_type}} position-relative">
  <div class="slider-port" role="region" aria-label="slider" tabindex="0">
    <ul class="slides sibling-margins-skip">
      <li class="slide" id="slider-0-slide-0">
        {{ render '@image-card' }}
      </li>
      <li class="slide" id="slider-0-slide-1">
        {{ render '@image-card' }}
      </li>
      <li class="slide" id="slider-0-slide-2">
        {{ render '@image-card' }}
      </li>
      <li class="slide" id="slider-0-slide-3">
        {{ render '@image-card' }}
      </li>
      <li class="slide" id="slider-0-slide-4">
        {{ render '@image-card' }}
      </li>
      <li class="slide" id="slider-0-slide-5">
        {{ render '@image-card' }}
      </li>
    </ul>
  </div>
  {{!-- <ul aria-label="slider controls" class="slider-controls list-unstyled p-0 m-0">  
    <li class="d-block p-0 m-0"><button class="slider-control slider-control-prev" aria-label="previous">Previous</button></li>
    <li class="d-block p-0 m-0"><button class="slider-control slider-control-next" aria-label="next">Next</button></li>
  </ul> --}}
</div>