<div class="infodial {{infodial_color}}" data-value="{{infodial_current}}" data-total="{{infodial_max}}">
  <div class="infodialtext sibling-margins-off">
    <span class="d-block text-center display-4">{{infodial_number}}</span>
    <span class="d-block text-center">{{infodial_desc}}</span>
  </div>
</div>