<ul class="{{list_classes}}">
  <li class="{{list_item_classes}}">{{> @button--primary_option}}</li>
  <li class="{{list_item_classes}}">{{> @button--primary_option}}</li>
  <li class="{{list_item_classes}}">{{> @button--primary_option}}</li>
  <li class="{{list_item_classes}}">{{> @button--primary_option}}</li>
  <li class="{{list_item_classes}}">{{> @button--primary_option}}</li>
  <li class="{{list_item_classes}}">{{> @button--primary_option}}</li>
</ul>