<div class="image-popup">
  <a class="image-popup-trigger" href="#image-popup-{{image_popup_id}}">
    <img border="0" src="{{image_popup_small}}" alt="{{image_popup_small_alt}}">
  </a>
  <div id="image-popup-{{image_popup_id}}" class="image-popup-target sibling-margins-off">
    <figure class="image-popped-image">
      {{> @lazyimage }}
      <figcaption class="image-caption">{{image_caption}}</figcaption>
    </figure>
    {{render '@close--button' }}
  </div>
</div>